.left-content {
    width: 346px;
    margin-right: 34px;
    float: left;
    position: relative;
}

.icon-close-left {
    width: 14px;
    height: 54px;
    position: absolute;
    top: 300px;
    right: -14px;
    background:url(../image/icon_experiment_close.png) no-repeat 100% 0;
}

.segment-header{
    height: 42px;
}

.segment-select-title {
    width: 50%;
    height: 42px;
    line-height: 42px;
    padding: 0 20px;
    float: left;
    background: #f2af0d;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.segment-select-title.actived {
    background: #fff;
    color: #008fea;
}

.segment-select-title:first-child {
    border-top-left-radius: 10px;
}

.segment-select-title:last-child {
    border-top-right-radius: 10px;
}

.segment-content {
    border-radius: 10px;
    border-top-left-radius: 0;
    height: auto;
    background-color: #fff;
}

.segment-content .experiment-instruction {
    overflow-y: scroll;
    overflow-x: visible;
    padding: 20px 10px 20px 20px;
}

.header-title-1 {
    font-weight: normal;
    font-size: 18px;
    color: #008fea;
    margin-bottom: 16px;
}

.header-title-2 {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.header-title-3 {
    color: #333;
    line-height: 24px;
    margin-bottom: 20px;
}

/*
    二级切换
*/
.segment-second-header {
    height: 36px;
    margin-bottom: 42px;
}

.segment-second-title {
    width: 100px;
    height: 36px;
    line-height: 34px;
    color: #008fea;
    text-align: center;
    border-radius: 24px;
    float: left;
    border: 1px solid #008fea;
    margin-right: 20px;
}
.segment-second-title.actived {
    background: #008fea;
    color: #fff;
}

/*
    上传文件-提交-保存
*/

.experiment-evaluate {
    width: 100%;
    height: 235px;
    padding: 20px 30px;
    border: 1px solid #bebebe;
    border-radius: 10px;
}

.experiment-uploadfile-button {
    width: 102px;
    height: 36px;
    line-height: 36px;
    border-radius: 30px;
    text-align: center;
    background: #19b397;
    position: relative;
    margin-bottom: 32px;
}

.experiment-uploadfile-text {
    color: #fff;
    font-size: 16px;
}

.input-uploadfile-button {
    opacity: 0;
    width: 102px;
    height: 36px;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    color: #fff;
}

.experiment-resource-list {
    width: 100%;
}

.experiment-resource-list li {
    width: 100%;
    height: 26px;
    line-height: 26px;
    margin-bottom: 18px;
}

.experiment-resource-list li .experiment-resource-download {
    float: left;
}

.experiment-resource-list li .experiment-resource-download a {
    float: left;
    color: #333;
}

.experiment-resource-list li .experiment-delete-resource {
    float: left;
    width: 26px;
    height: 26px;
    background: url(../image/icon_delete_resource.png) no-repeat center center;
    background-size: 22px;
    margin-left: 42px;
}

.experiment-opera {
    width: 100%;
    height: 36px;
    margin-top: 56px;
    position: relative;
}

.experiment-opera button {
    float: left;
    width: 102px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #0095eb;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}

.experiment-opera button.btn-save {
    margin-right: 30px;
}


/**
    右侧样式
*/
.right-content {
    width: calc(100% - 380px);
    float: left;
    position: relative;
}

.icon-show-left {
    display: none;
    width: 14px;
    height: 54px;
    position: absolute;
    top: 300px;
    left: -15px;
    background: url(../image/icon_experiment_close.png) no-repeat left top;
    transform: rotate(180deg);
}

.environment-top {
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin-bottom: 15px;
    position: relative;
}

.environment-top .environment-head {
    font-size: 18px;
    color: #008fea;
}

.environment-top .countdown {
    color: #f20d0d;
    margin-right: 20px;
}

.environment-top .stop-experiment {
    display: block;
    width: 115px;
    height: 27px;
    line-height: 27px;
    padding-left: 40px;
    color: #fff;
    background: #363636 url(../image/icon_stop_experiment.png) no-repeat 15px center;
    background-size: 15px;
}

.environment-content {
    display: none;
    position: relative;
}

.experiment-run {
    width: 100%;
    height: 100%;
    background: #333;
    background-size: cover; 
}

.experiment-run .icon-run {
    width: 100%;
    height: 100%;
    background: url(../image/icon_run_experiment.png) no-repeat center center;
    background-size: 160px;
}


/* 第二种实验-小标题 */
.environment-content-tab{
    position: absolute;
    top: -42px;
    left: 0;
}

.environment-content-tab-title {
    float: left;
    width: 135px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #ffffff;
    color: #333;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

.environment-content-tab-title.selected {
    background: #333;
    color: #fff;
}

.environment-content-tab-title .icon-close {
    display: block;
    position: absolute;
    top: 13px;
    right: 12px;
    width: 16px;
    height: 16px;
    background: url(../image/icon_close_btn.png) no-repeat center center;
    background-size: 16px;
}

.environment-content-tab-title.posi1 {
    position: relative;
    left: 0;
    z-index: 0;
}

.environment-content-tab-title.posi2 {
    position: relative;
    left: -30px;
    z-index: -1;
}

.environment-content-tab-title.posi3 {
    position: relative;
    left: -60px;
    z-index: -2;
}

/*虚拟机*/
.virtual-item{
    width: 100%;
    background: #333;
}


/* 虚拟机--弹窗 */
.layout {
    display: none;
    width: 100%;
    height: 100%;
    background: (0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.experiment-over-prompt {
    display: none;
    width: 400px;
    padding: 40px 0;
    background: #ffffff;
    position: fixed;
    top: 200px;
    left: 50%;
    margin-left: -150px;
    z-index: 101;
    border-radius: 10px;
}

.experiment-over-prompt-bg {
    width: 380px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.experiment-over-prompt .prompt {
    font-size: 16px;
    line-height: 24px;
    color: #333;
    text-align: center;
}

.experiment-over-btnsure {
    display: block;
    width: 180px;
    height: 56px;
    line-height: 56px;
    margin: 60px auto 0;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-weight: bold;
}
.icon-close-experiment-over {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../image/icon_prompt_close_btn.png) no-repeat center center;
    background-size: 30px;
}

.experiment-close-btn {
    display: block;
    width: 112px;
    height: 42px;
    line-height: 42px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.other-loading {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    z-index: 2;
}

.other-loading .loading-bg {
    width: 100%;
    height: 300px;
    background: url(../image/bg_loading.png) no-repeat center center;
    background-size: 260px;
}

.other-loading .no-net-bg {
    width: 100%;
    height: 300px;
    background: url(../image/bg_no_net.png) no-repeat center center;
    background-size: 260px;
}

.other-loading .text {
    color: #999;
    font-size: 16px;
    margin-top: 32px;
    text-align: center;
}
